* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    margin-top: 0px;
    background-image: url(back.jpg);
}
 
button, p {
    position: absolute;
}
 
img {
    height:50px;
    width:50px
}
 
#my_car {
    position: absolute;
    bottom: 15px;
}
#road {
    position: relative;
    margin: 0 auto;
    width: 500px;
    height: 100vh;
    background-image:url(droga.png);
    background-repeat: no-repeat;
    background-size: cover;
    border: solid black;
    border-top: 0;
    border-bottom: 0;
}       
 
#start{
    position: absolute;
    top: 60vh;
    left: 47vw;
    z-index: 100;
    font-size: 2rem;
    background-color:rgb(215, 12, 12);
    color: white;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
       }
#score{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size:2rem;
    padding: 5px;
    background-color: aliceblue;
    border-radius: 20px;
       }
.enemy{
    width: 50px;
    height: 100px;
    position: absolute;
    rotate: 180deg;
    background-repeat: no-repeat;
    background-size: contain;
    }